<div class="text-center">
  <div class="header">
    <h1>All Users</h1> 
  </div>
  <ul>
    <% @users.each do |user| %>
    <br>
      <li>
        <%= link_to image_tag(user.avatar.url(:medium)), user_path(user.id), class: 'feed-pictures' %>
      </li>
      <h3>
       <li> username:
      <%= user.name %></li>
      </h3>
      <br>
      <br>
    <% end %>
  </ul>
</div> 
<div class="footer">
  <div class="text-center">
    <br>
    <br>
    <br>
    <h1>&copy; PhotoSnap</h1>
  </div>
</div>





