<h4>this is <%= @user.name %> photos</h4>


<% @user_photos.each do |photo| %>
  Title: <%= photo.title %> 
  <br>
  Url:<%= photo.url %> 
  <br>
  <% if current_user === @user %>
    <%= link_to 'edit photo', edit_photo_path(photo) %> 
  
  <% end %>
<% end %>
 
