<div class="text-center">
  <div class="feed">
    <h1>Photo Feed</h1>
  </div>
  <br>
  <div class="container">
  <% @photos.each do |photo| %>
    <div class="col-md-4">
      <%= image_tag photo.image(:medium), class: 'feed-pictures' %>
      <%= photo.user.name %>
      <%= photo.caption %>
    </div>
  <% end %> 
  </div>
</div>
