
  <div class="text-center">
    <div class="feed">
    <h1>Photo Feed</h1>
    </div>
    <br>
    <div class="container">
      <%= @photos.each do |photo| %>
      <%= image_tag photo.image(:medium) %>
      <%= photo.caption %>
      <% end %> 
    </div>
  </div>


