// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-signup {
  background-color: blue;
  color: white;
}

.button {
  width: 250px;
  height: 50px;
  background-color: #00A9B3;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.button:hover{
  background-color: #17BE8C;
}

.field{
  margin-top: 10px;
  font-size: 18px;
}

h4{
  color:white;
}
a:link {
    text-decoration: none;
}
.secfoot{
  background-color:#FF0000;
  height: 250px;
  color: white;
}




