// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.footer{
  margin-top: 20px;
  background-color:#FF7100;
  height: 200px;
  width: 100%;
}

.header{
  background-color: #00A9B3;
  font-color: white;
}

.delete-btn{
  display: inline-block;
  background-color: #069FAD;
  color:white;
}

h1{
  color:#E10707;
}

